<body>

  <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being created:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="flash-notifications">
  　<% flash.each do |key, value| %>
   　<%= content_tag(:div,'Book was successfully created.', class: notice) %>
  　<% end %>
　</div>

  <p>
    <strong>Title</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>

  <%= link_to "Edit", edit_book_path(@book.id) %>

  <a href ="/books">Back</a>

</body>
